@font-face{
    font-family: 'DINRegular';
    src: url("../fonts/DINRegular.ttf") format("truetype");
} 

head{ 
    background-color: black;
}

body{ 
    margin-top: 0px;
    align-items: center;
    min-width: 300px; 
    margin: 0 auto; 
    height: auto; 
    font-family: 'DINRegular';
}
  
.h-card{ 
    color: black; 
    position: relative; 
    border-radius: 0 !important;
    border: none !important; 
}

.h-card img{ 
    object-fit: contain;
    border-radius: 0 !important;
    border: none !important; 
}


.p-card{ 
    color: black; 
    position: relative; 
    border-radius: 0 !important;
    border: none !important; 
}

.p-card img{ 
    object-fit: contain;
    border-radius: 0 !important;
    border: none !important; 
}

.overlay{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; 
    width: 100%;
    opacity: 0;
    background: #dcdbfe;
    color: #3e397a;
    overflow: auto;
    text-overflow: ellipsis;
}


.overlay:hover {
    opacity: 0.9 !important;
}

.myBgLightGray{
    background-color: lightgray; 
}

.myBgLightPurple{ 
    background-color: #ebebfb; 
}

.content h3{ 
    padding-top: 0.75em !important; 
}

.blue-border{ 
    border:1px solid; 
    border-color: #7591bf; 
}