@font-face{
    font-family: 'DINRegular';
    src: url("../fonts/DINRegular.ttf") format("truetype");
} 

.date{ 
    font-size: small;
    color: grey; 
}

.sidebar{
    width: 23%; 
    padding: 2%; 
    float: left; 
}

.sideimage{
    width: 100%; 
}

.skilltag{ 
    float:left;
    font-family: 'DINRegular';
    font-size: small;
    background-color: lightgray;
    padding-top: 2%;     
    padding-bottom: 2%; 
    padding-left: 3%;
    padding-right: 3%;
    border-style: solid; 
    border-radius: 25px; 
    margin-right: 1%; 
    margin-top: 2%;
}

.text{ 
    font-family: 'DINRegular';
    padding-top: 0% !important; 
    padding: 1%; 
}

.textbody{ 
    font-family: 'DINRegular';
    float: left;
    width: 65%;  
    padding-top: 0% !important; 
    padding-left: 3% !important; 
    padding: 2%; 
}

a:link, 
a:hover, 
a:focus{ 
    color: #72a5f2;
    text-decoration: none;  
}

a:visited{
    color:#656cba; 
}

