@font-face{
    font-family: 'DINRegular';
    src: url("../fonts/DINRegular.ttf") format("truetype");
} 

.sideimage{
    width: 21%; 
    padding: 2%; 
    height: auto; 
    float: left; 
}

.text{ 
    font-family: 'DINRegular';
    padding-top: 0% !important; 
    padding: 1%; 
}

.textbody{ 
    font-family: 'DINRegular';
    float: left;
    width: 71%;  
    padding-top: 0% !important; 
    padding: 2%; 
}

a:link, 
a:hover, 
a:focus{ 
    color: #72a5f2;
    text-decoration: none;  
}

a:visited{
    color:#656cba; 
}