---
layout: default
---
<link rel="stylesheet" href={{ "/css/post.css" | relative_url }}>  

<div class="text">
    <h1>{{page.title}}</h1>
    {%if page.date%}
    <p class = "date">
        {% assign d = page.date | date: "%-d" %}
        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %} 
        {{ page.date | date: "%B, %Y" }} 
    </p>
    {%endif%}
    <br>
    <hr>
    <br>
    {{content}}
</div>
