<!DOCTYPE html>
<!-- default theming-->
<html>
    <link rel="stylesheet" href={{ "/css/reset.css" | relative_url }}>  
    <link rel="stylesheet" href={{ "/css/nav.css" | relative_url }}>
    <head>
        <!-- Loading helpful scripts -->
        <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>    
        <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>    
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script src="../scripts/art.js"></script>

        <div class="topnav">
            <p class = "title"> VICTORIA DENG </p>
            <a class = "home" href="/">home</a>
            <a class = "profile" href="/about">about</a>
            <a class = "projects" href="/projects">projects</a>
            <a class = "cv" href="/cv">cv</a>
            <a class = "art" href="/art">art</a>
            <a class = "interests" href="/interests">interests</a>
            <div></br></div>
        </div> 
    </head>
    <body>
        <!-- redirects back to whatever called it -->
        {{content}}
    </body>
</html>
